body {
  background: url('stripe.png') no-repeat;
  /*radial-gradient(circle farthest-side at right bottom,#fefdfe 5%,#f8cdda 25%,#1d2b64 80%,#0e153a 98%);*/
  background-size: cover;
  display: flex;
  font-family: "Open Sans";
  width: 100%;
}

@media screen and (max-width: 1340px) {
  body {
    background-size: inherit;
  }
}

nav {
  text-align: center;
  position: absolute;
  width: 100%;
}

nav > p {
  color: white;
  display: inline-block;
  padding: 30px;
}

article {
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 250px 0px;
  padding-top: 80px;
  text-align: center;
  width: 50%;
}

article > h1,
article > p {
  margin: 20px auto;
  position: relative;
  width: 350px;
}

article > h1 {
  font-size: 40px;
}

article > p {
  color: #c5b3cb;
  font-weight: 300;
  font-size: 30px;
  line-height: 150%;
}

.show-me-button {
  background-color: rgba(17,18,57,0.4);
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  cursor: pointer;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  width: 150px;
}

.show-me-arrow {
  position: relative;
  margin-left: 3px;
  -webkit-animation-name: show-me-arrow;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  /* equivalent in one line: */
  /*-webkit-animation: show-me-arrow 1s infinite;*/
}

@-webkit-keyframes show-me-arrow {
  0% {left: 2px;}
  25%, 75% {left: 6px;}
  50% {left: 10px;}
  100% {left: 0;}
}

.iphone {
  bottom: 100px;
  position: absolute;
  left: 290px;
}

form {
  margin-top: 200px;
  width: 50%;
  position: relative;
}

form > div.dribbble-example {
  height: 500px;
  padding: 50px;
  position: relative;
}

form input.text-box {
  margin: 20px 0px;
  padding: 10px;
  width: 200px;
}

.dribbble {
  position: absolute;
  top: 18px;
}

.remember-me-background {
  position: absolute;
  bottom: 100px;
}

.empty-form {
  position: absolute;
  top: 190px;
  left: 85px;
}

div.dribbble-example > p {
  color: gray;
  font-size: 15px;
  letter-spacing: 1px;
  position: absolute;
}

div.dribbble-example > p.form-email {
  left: 120px;
  top: 201px;
}

div.dribbble-example > p.form-card-number {
  left: 120px;
  top: 256px;
}

div.dribbble-example > p.form-mm-yy {
  left: 120px;
  top: 292px;
}

div.dribbble-example > p.form-cvc {
  left: 230px;
  top: 292px;
}

div.dribbble-example > p.form-remember-me {
  color: #575757;
  letter-spacing: 0px;
  left: 120px;
  top: 347px;
}


