html {
  font-family: Source Sans Pro;
}

.announcement {
  background-color: #036;
  padding: 18px;
  text-align: center;
}

.announcement > p {
  display: inline;
  letter-spacing: .5px
}

.announcement > #blue {
  color: #b3d4fc;
}

.announcement > #white {
  color: white;
  margin-left: 5px;
}

.top-bar {
  background-image: url(images/grey-prism.svg);
}

.top-bar > img {
  display: inline-block;
  /*margin: 20px 50px;*/
  position: relative;
  width: 15%;
}

.top-bar > .list {
  display: inline-block;
  position: relative;
  /*margin: 20px auto;*/
  text-align: right;
  width: 80%;
}

.top-bar > .list > p {
  color: #c69;
  display: inline-block;
  font-weight: 500;
  font-size: .75em;
  margin: 0px 10px;
  position: relative;
  vertical-align: middle;
}

.superpowers {
  bottom: 30px;
  color: #808c99;
  font-size: 3em;
  font-weight: 300;
  position: relative;
  text-align: center;
}

.glasses > .image .text {
  display: inline;
  width: 45%;
}
.glasses > .image > img {
  display: inline;
  margin: 20px 0px 0px 50px;
  max-width: 600px;
}

.glasses > .text > p {
  color: #699;
  font-size: 26px;
  display: inline;
  text-align: right;
}

.pink-banner {
  background-color: #c6538c;
  height: 50px;
  margin-top: 50px;
  text-align: center;
}

.pink-banner > ul {
  padding-top: 15px;
}

.pink-banner > ul > li {
  color: white;
  font-size: 22px;
  display: inline;
  margin: 0px 15px;
  width: 30%;
}

.info {
  text-align: center;
  width: 100%;

}

.info > .feature {
  display: inline-block;
  max-width: 25%;
  margin: 20px auto;
  letter-spacing: .25px

}

.feature > h2 {
  color: #808c99;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  text-align: left;
}

.feature > p {
  color: #484c55;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
}