header {
  text-align: center;
}

header > img {
  margin-top: 100px;
}

#search-bar {
  margin: 20px 0px;
}

.button-bar {
  margin: 20px 0px;
/*  color:;
  font-size:;
  border:;*/
  border-radius: 50px;
}

