html {
 width: 100%;
 font-family: Arial;
}

.cloud-banner {
  background-image: url('https://www.squareweave.com.au/app/theme/default/design/images/home/sky.jpg');
  height: 1050px;
  width: 100%;
  text-align: right;
}

.navigation-bar {
  display: inline;
  padding: 100px;
}

.navigation-bar > h1 {
  font-size: 30px;
  font-style: bold;
  display: inline-block;
  padding: 50px 100px 50px 0px;
}

.banner {
  width: 100%;
  text-align: center;
}

#tree-image, #text {
  display: inline-block;
  width: 50%;
  text-align: left;
  height: 100%;
}

.banner > #tree-image > img {
  height: 850px;
  width: 800px;
  padding-top: 150px;
  padding-left: 40px;
}

.banner > #text > h1 {
  font-size: 40px;
  text-align: center;
  vertical-align: center;
}
