html {
 width: 100%;
 font-family: Arial;
}

.cloud-banner {
  background-image: url('https://www.squareweave.com.au/app/theme/default/design/images/home/sky.jpg');
  height: 525px;
  width: 100%;
  text-align: right;
}

.navigation-bar {
  display: inline;
  padding: 50px;
}

.navigation-bar > h1 {
  font-size: 16px;
  font-style: bold;
  display: inline-block;
  padding: 25px 50px 25px 0px;
}

.banner {
  width: 100%;
  text-align: center;
}

#tree-image, #text {
  display: inline-block;
  width: 50%;
  text-align: left;
  height: 100%;
}

.banner > #tree-image > img {
  height: 425px;
  width: 400px;
  padding-top: 75px;
  padding-left: 20px;
}

.banner > #text > h1 {
  font-size: 20px;
  text-align: center;
  vertical-align: center;
}
