html {
  color: #315892;
  font-size: 18px;
  font-family: 'Roboto Slab';
}

.header {
  align-items: center;
  background-color: #2aaadd;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.header__logo {
  height: 50px;
}

.header__nav {
  align-items: center;
  display: flex;
}

.header__nav-item {
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0 12px;
  padding: 30px 0;
}

.header__nav-item a {
  color: white;
  text-decoration: none;
}

.header__hiring {
  background-color: #315892;
  border-radius: 5px;
  font-size: 11px;
  padding: 5px 10px;
}

.header__hiring:hover {
  background-color: #3e6fb8;
}

.jobs-link:hover {
  border-bottom: 4px solid #315892;
  padding: 30px 0 26px 0;
}

.section {
  display: flex;
  justify-content: center;
  padding: 50px 100px;
}

.section--hero {
  align-items: center;
  background-image: url('https://d16myq7cnttdf1.cloudfront.net/homepage/backdrop-5-c.jpg');
  display: flex;
  justify-content: center;
  height: 500px;
}

.section--hero h1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
}

.section--applications {
  align-items: center;
  background-color: #fafafa;
  flex-direction: column;
}

.section--applications .locations {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 80%;
}

.locations .location {
  align-items: center;
  color: #2aaadd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.locations .location img {
  margin-bottom: 20px;
}

.locations .location button {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #2aaadd;
  color: #2aaadd;
  font-size: 14px;
  margin-top: 20px;
  padding: 8px 15px;
}

.section--about {
  align-items: center;
  flex-direction: column;
}

.section--about .text {
  line-height: 200%;
  text-align: center;
  width: 400px;
}

.section--about img {
  margin: 50px auto;
}

.section--about .reasons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.section--about .reasons .reason {
  margin: 0 20px;
  width: 33%;
}

.section--about .reasons .reason .title {
  line-height: 25%;
  margin-bottom: 30px;
}

.section--about .reasons .reason .body {
  color: #353e48;
  font-family: Roboto, sans-serif;
  line-height: 150%;
}

.section--testimonial {
  background-color: #315892;
  color: white;
}

.section--testimonial img {
  border-radius: 100%;
  margin-right: 50px;
}

.section--testimonial .quote {
  line-height: 200%;
  width: 500px;
}

.section--testimonial .source {
  color: #2aaadd;
  margin-top: 20px;
}

.section--testimonial button {
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  padding: 10px 30px;
}

.section--hiring {
  align-items: center;
  flex-direction: column;
}

.section--hiring .title {
  font-size: 30px;
  margin-bottom: 30px;
}

.section--hiring .body {
  line-height: 200%;
  text-align: center;
  width: 700px;
}

.section--hiring .hiring--image-container {
  margin: 30px auto;
}

.section--hiring .hiring--image-container img {
  border-radius: 100%;
  margin: 0 10px;
}

.section--hiring button {
  background: transparent;
  border: 1px solid #315892;
  border-radius: 5px;
  color: #315892;
  padding: 10px 30px;
}

.section--feedback {
  background-color: #2aaadd;
  display: flex;
  justify-content: center;
}

.section--feedback .feedback--text {
  color: white;
  width: 50%;
}

.section--feedback .feedback--text .title {
  font-size: 22px;
  font-weight: bold;
  line-height: 125%;
  margin-bottom: 30px;
}

.section--feedback .feedback--text .body {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  line-height: 125%;
  margin-bottom: 30px;
}

.section--feedback .feedback--text .link {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
}

.section--feedback .feedback--form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.section--feedback .feedback--form input,
.section--feedback .feedback--form textarea {
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  color: #cccccc;
  font-size: 16px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

.section--feedback .feedback--form button {
  align-self: flex-end;
  background-color: #15628e;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 14px;
  width: 100px;
}

footer {
  background-color: #353e48;
  color: #353e48;
  display: flex;
  font-size: 14px;
  justify-content: center;
  padding: 30px 0;
}

footer ul {
  width: 20%;
}

footer li {
  color: #88919b;
  font-size: 13px;
  font-weight: 300;
  margin-top: 5px;
}

footer li.title {
  color: #d7d8da;
  font-weight: bold;
  letter-spacing: 1px;
}
