.header-bar {
  display: flex;
  background-color: #3B5998;
  color: hsl(0, 0%, 90%);
  font: 100% $font-family;
  justify-content: space-between;
  left: 85px;
  padding: 10px 100px 10px 65px;
  position: relative;
}

