.news-feed_post-actions {
  border-bottom: 1px solid hsl(0, 0%, 70%);
  color: hsl(0, 0%, 30%);
  display: flex;
  font: 100% $font;
  font-size: 14px;
  padding: 15px;
}

.news-feed_post-actions {
  li {
    margin-right: 15px;
  }

  .post-actions-icon {
    margin-right: 5px;
  }
}