.news-feed_post {
  border: 1px solid red;
  display: flex;
}

.news-feed_post {

  .picture-of-poster {
    height: 100px;
    width: 100px;
  }

  .news-feed_post-container {
    margin-left: 10px;
  }

  .news-feed_post-social-summary {
    color: hsl(0, 0%, 30%);
    font: 100% $font;
    font-size: 14px;
    margin: 10px 0px;
  }

  .news-feed_post-comment {
    display: flex;
  }
}

